################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/SendGrid/bin/Debug/net5.0
/Code/SendGrid/obj
/.vs
/Code/SendGridConsole/bin/Debug/net5.0
/Code/SendGridConsole/obj
/Code/SendGridConsole/appsettings.json
